.mainSignContainer{
    display: flex;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    border-radius: 15px;
    height: 45vh;
    width: 25vw;
    margin: 0 auto;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 45px;
    text-align: center;
}
.signInputsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 45px;
    text-align: left;
    margin: 25px;
}
.signInButton{
    margin-top: 15px;
    background-color: rgb(126, 100, 240);
}
.errorMessages{
    color:rgb(255, 30, 0);
    font-family: 'Cutive Mono', monospace;
    font-size: 0.5rem;
    font-family: 'Orbitron', sans-serif;
}

.signInButton {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.signInButton:hover,
.signInButton:focus, 
.signInButton:active{

    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    outline: none;
}