.styledTable {
    margin: 0 auto;
    font-size: 1.5em;
    font-family: 'Goldman', cursive;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width:70vw;
}
.styledTable thead tr {
    background-color: #0595d8;
    color: #ffffff;
    text-align: center;
}

.styledTable th,
.styledTable td {
    padding: 12px 15px;
}
.styledTable td {
    opacity: 0.8;
}
.styledTable tbody tr {
    
}

.styledTable tbody tr:nth-of-type(even) {
    background-color: #ffffff;
}

.styledTable tbody tr:nth-of-type(odd) {
    background-color: #d9eef1;
    text-align: center;
}


.styledTable tbody tr.active-row {
    border-radius: 15px;
    text-align: center;
}



