.mainElementsContainer{
    width: 250px;
    height: 35px;
    display: flex;
    align-items: center;

}
.modalContainer{
    margin-left: 20px;
}
.inputs{
display: flex;
flex-direction: column;
align-items: flex-start;
position: relative;
}

label{
    font-family: 'Archivo', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

input{
    width: 196px;
    height: 30px;
    border :none;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    border-radius: 3px;
    }

input:focus{
    outline: none;
}
.submit{
    border-radius: 5px;
}

.inputContainer{
    width: 250px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.selectForm{
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 30px;
    border:none;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
}
.selectForm:focus{
    outline: none;
}

.submitButton{
    border-radius: 3px;
}

.modalContainer{
    display: none;
}

.inputContainer:hover + .modalContainer{
    display: block;
}

.selectForm{
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 30px;
    border:none;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
}
.selectForm:focus{
    outline: none;
}






@media (max-width: 438px) and (min-width: 200px){
    .mainElementsContainer{
        width: 250px;
        height: 35px;
    
    }
    .inputs{
    align-items: center;
    }
    
    label{
        padding-right: 45px;
    }
    
    input{
        width: 120px;
        height: 30px;
    }
    
    
    .inputContainer{
        justify-content: space-evenly;
    }
    
    .selectForm{
        width: 120px;
        height: 30px;
    }
}