.mainHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 6vh;
}
.headerLinks{

}
.userLinks{
    display: flex;
}
.link{
    list-style-type: none;
    font-family: 'Bangers', cursive;
    font-size: 2vh;
    margin-right: 30px;
    color: cornsilk;
}
#title{
    font-family: 'Orbitron', sans-serif;
    font-size: 3vh;
    color: cornsilk;
}
.linksContainer{
display: flex;
align-content: center;
padding-right: 4vh;
}
.bannerContainer{
    display: flex;
    justify-content: center;
}
#banner{
    width: 150vh;
    height: 50vh;
}